<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Alunos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/alunos">Alunos</a>
    <a href="/professores">Professores</a>
    <a href="/disciplinas">Disciplinas</a>
</nav>

<div class="container">
    <h1>Lista de Alunos</h1>

    <ul>
        {% for aluno in alunos %}
            <li>{{ aluno }}</li>
        {% endfor %}
    </ul>
</div>

</body>
</html>